html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #35353d;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}


nav {
    background-color: #9bbbd9;
 
}

.h1 {
    color: #ff69c3;
    font-size: 30px;
    text-shadow:  2px 2px 0   #35353d,
    4px 4px 0 #71b1ec
}



.fortnite {
    position: relative;
    margin-top: 10%;
    height: 500px;
    width: 300px;
}


